body{
    width: 351px;
    font-family: "Papyrus";
}

.card {
    border: 3px solid grey;
    background-color: rgb(230, 230, 230);;
}

h1 {
    
    text-align: center;
    width: 347px;
    font-style: italic;
    margin: 2px;
}

ul {
    display: flex;
    border-top: 2px solid grey;
    margin: 0;
}

li{
    padding-top: 4px;
}

a {
    color: black;
    text-decoration: none;
}